// ==========================================================================
// # Main.scss - Order in this file matters!
// ==========================================================================

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: 'Inter'!important;
}

// ==========================================================================
// Objects
// ==========================================================================
@import 'objects/button.scss';


// ==========================================================================
// Other
// ==========================================================================

.turbo-progress-bar {
    background-color: orange;
    box-shadow: 0px 0px 9px 0px #ffa500;
}


// Hotfix ⚠️
// ==========================================================================
